{% include 'header.html' %}

<form method="post" action="/store" enctype="multipart/form-data">
    

    <div class="card">
        <div class="card-header">
            Ingresar Asignatura
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de la Asignatura</h5>
            <p class="card-text">
                
                <div class="form-group">
                    <label for="txtID">ID</label>
                    <input id="txtID" class="form-control" type="text" name="txtID">
                </div>
                <div class="form-group">
                    <label for="txtNombre">Asignatura</label>
                    <input id="txtNombre" class="form-control" type="text" name="txtNombre">
                </div>
                <div class="form-group">
                    <label for="txtCorreo">Profesor</label>
                    <input id="txtCorreo" class="form-control" type="text" name="txtCorreo">
                </div>
                <div class="form-group">
                    <label for="txtMateria">Calificación</label>
                    <input id="txtMateria" class="form-control" type="text" name="txtMateria">
                </div>
                <div class="form-group">
                    <label for="txtFoto">Programa</label>
                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>
                <div class="form-group">
                    <input type="submit" class='btn btn-success' value="Agregar">
                    <a href='{{url_for("index")}}' class="btn btn-primary">Regresar</a>
                </div>
                
            </p>

        </div>
    </div>
    


</form>

{% include 'footer.html' %}